<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- my links and scripts -->
	<script src="/js/main.js"></script>
	<link rel="stylesheet" href="/css/normalize-css.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<title>TodoApp</title>
</head>

<body>
	<header>
		<div class="wrapper">
			<p class="head_text">Hello Jamoliddin!</p>
			<button class="serach_button" type="button"><img src="/img/magnifying-white.png" alt="o"
					width="30" height="30"></button>
		</div>
	</header>
	<div class="myContainer">
		<table class="centered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Text</th>
					<th>Date</th>
					<th>Check</th>
					<th>Set</th>
					<th>Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th>1</th>
					<th>lorem</th>
					<th></th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>2</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>3</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>4</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>5</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>6</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>7</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>8</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>9</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
				<tr>
					<th>10</th>
					<th>lorem</th>
					<th>lorem</th>
					<th>
						<p>
							<label>
								<input type="checkbox" class="filled-in"/>
								<span></span>
							</label>
						</p>
					</th>
					<th><button type="button" class="setButton btn grey">Set</button></th>
					<th><button type="button" class="deleteButton btn grey darken-3">Delete</button>
					</th>
				</tr>
			</tbody>
		</table>
		<button class="myBtn"><img src="/img/edit-white.svg" alt="I" width="50px" height="50px"></button>
	</div>
</body>

<script>
	/*
	const checkBtn = document.querySelectorAll('.filled-in');
	for(let btn of checkBtn) {
		btn.onclick = ()=>{
			btn.checked = "checked"
			btn.disabled = "disabled"
		}
	}
	*/
	const setButton = document.querySelectorAll('.setButton');
	console.log(setButton);
</script>

</html>