<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/normalize-css.css">
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/login.css">
	<title>Login</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="login">
				<div class="selectType">
					<p class="regSelect selected">Register</p>
					<p class="loginSelect">Login</p>
				</div>
				<form class="form">
					<input class="logInput" required type="text" placeholder="Username" autocomplete="username">
					<label class="passLabel">
						<input class="passInput" required type="password" placeholder="Password" autocomplete="current-password">
						<button type="button" class="openPass">-</button>
					</label>
					<button type="submit" class="logButton">Submit</button>
				</form>
			</div>
		</div>
		<div class="dropBox"></div>
		<div class="box"></div>
	</div>

	<script src="/js/userConfig.js"></script>
	<script src="/js/login.js"></script>
</body>
</html>